@using bai4.Controllers;

@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/shared/_LayoutPage2.cshtml";
}

<h2>AboutUs</h2>

@section SubHeader{
    <h2 style="background-color:aqua">SubHeader AboutUs</h2>
    }

@section SubFooter{
<h2 style="background-color:blueviolet">SubFooter AboutUs</h2>
    }
